body{
    background-image: url('/public/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100%;
}

html{
    height: 100%;
}

.question{
    font-size: 20px;
}

.btn-answer{
    margin: 0 5px 10px 5px;
}

.answer{
    margin: 20px 0 20px 0;
    font-size: 30px;
    color: #218003;
}

.pokemon{
    width: 300px;
}

.main-box{
    margin-top: 50px;
}